11122025_titanic_data_set_with_decision_tree/src/random_forest_trees/tree_0.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees/tree_1.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees/tree_2.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees/tree_3.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees/tree_4.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/Gini_value_calculation_of_the_root_node_tree_92.png
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_5.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_6.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_23.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_29.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_35.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_48.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_52.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_54.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_55.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_61.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_62.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_63.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_64.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_65.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_73.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_80.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_84.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_85.jpeg
11122025_titanic_data_set_with_decision_tree/src/random_forest_trees_sex_root_node/tree_92.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_0.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_1.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_2.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_3.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_4.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_5.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_6.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_7.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_8.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_9.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_10.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_11.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_12.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_13.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_14.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_15.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_16.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_17.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_18.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_19.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_20.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_21.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_22.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_23.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_24.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_25.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_26.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_27.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_28.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_29.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_30.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_31.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_32.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_33.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_34.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_35.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_36.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_37.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_38.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_39.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_40.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_41.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_42.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_43.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_44.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_45.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_46.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_47.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_48.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/stump_49.txt
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_0
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_0.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_1
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_1.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_2
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_2.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_3
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_3.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_4
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_4.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_5
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_5.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_6
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_6.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_7
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_7.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_8
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_8.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_9
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_9.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_10
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_10.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_11
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_11.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_12
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_12.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_13
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_13.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_14
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_14.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_15
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_15.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_16
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_16.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_17
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_17.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_18
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_18.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_19
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_19.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_20
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_20.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_21
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_21.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_22
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_22.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_23
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_23.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_24
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_24.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_25
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_25.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_26
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_26.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_27
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_27.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_28
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_28.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_29
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_29.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_30
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_30.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_31
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_31.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_32
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_32.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_33
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_33.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_34
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_34.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_35
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_35.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_36
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_36.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_37
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_37.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_38
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_38.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_39
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_39.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_40
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_40.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_41
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_41.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_42
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_42.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_43
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_43.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_44
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_44.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_45
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_45.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_46
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_46.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_47
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_47.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_48
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_48.jpeg
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_49
11122025_titanic_data_set_with_decision_tree/src/xgb_stumps/tree_49.jpeg
14122025_Random_Forest_and_boosting/DataSet/creditcard.csv
.env
.gitignore
.gitignore
